@font-face {
    font-family: "Titillium Web";
    font-weight: normal;
    font-style: normal;
    src: url("../fonts/Titillium_Web/TitilliumWeb-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Titillium Web";
    font-weight: bold;
    font-style: normal;
    src: url("../fonts/Titillium_Web/TitilliumWeb-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Titillium Web";
    font-weight: normal;
    font-style: italic;
    src: url("../fonts/Titillium_Web/TitilliumWeb-Italic.ttf") format("truetype");
}

@font-face {
    font-family: "Titillium Web";
    font-weight: bold;
    font-style: italic;
    src: url("../fonts/Titillium_Web/TitilliumWeb-BoldItalic.ttf") format("truetype");
}

@font-face {
    font-family: "Titillium Web Light";
    font-weight: normal;
    font-style: normal;
    src: url("../fonts/Titillium_Web/TitilliumWeb-Light.ttf") format("truetype");
}

@font-face {
    font-family: "Titillium Web Light";
    font-weight: normal;
    font-style: italic;
    src: url("../fonts/Titillium_Web/TitilliumWeb-LightItalic.ttf") format("truetype");
}


@font-face {
    font-family: "Titillium Web Extra Light";
    font-weight: normal;
    font-style: normal;
    src: url("../fonts/Titillium_Web/TitilliumWeb-ExtraLight.ttf") format("truetype");
}
