@import url("fonts.css");

body {
    margin: 0;
    padding: 0;

    font-family: "Titillium Web";
}

header {
    position: relative;

    display: block;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    aspect-ratio: 2.7;

    background-image: url("../img/car-hires-banner.jpg");
    background-position: center;
    background-size: cover;
}

header h1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 0;
    right: 0;

    box-sizing: border-box;
    margin: 0;
    padding: 15px;
    width: 33%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.25);
    color: white;
}

section {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: flex-start;

    background-color: #e7e7e7;
}

section nav {
    box-sizing: border-box;
    margin: 0;
    width: 33%;
}

section article {
    box-sizing: border-box;
    margin: 0;
    width: 67%;

    padding: 15px 25px 15px 50px;

    background-color: white;
}

section article p {
    text-align: justify;
    color: #333;
}

section article ul {
    color: #333;
}

section article a {
    color: #0091ff;
}

section nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

nav a {
    display: block;

    box-sizing: border-box;
    margin: 0;
    padding: 15px;
    width: 75%;

    border-bottom: 1px solid #ccc;

    text-align: center;
    font-size: 1.25em;
    color: black;
    text-decoration: none;
}

div#bottom-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    box-sizing: border-box;
    margin: 0;
    padding: 50px;
    width: 100%;
}

div.figcontainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    overflow: auto;

    box-sizing: border-box;
    width: 87.5%;
    margin-left: 12.5%;
    padding: 0;
}

div.figcontainer figure {
    margin: 0;
    min-width: 85.7%;
    width: 85.7%;
    margin: 0 5px 0 5px;
}

div.figcontainer figure img {
    display: block;
    box-sizing: border-box;
    margin: 0;
    width: 100%;
    height: auto;
}

div.figcontainer figure figcaption {
    display: block;
    box-sizing: border-box;
    margin: 0;
    padding: 5px;

    background: #333;
    color: white;
    font-size: 0.85em;
    font-style: italic;
}

div.figcontainer figure figcaption a {
    color: white;
}

h3 {
    text-indent: 2.5em;
}

div.code-div {
    position: relative;

    box-sizing: border-box;
    width: 100%;
    padding: 10px;

    background: #f5f5f5;
    border: 2px solid #ccc;
    border-radius: 10px;
}

div.code-div div.code-copy {
    position: absolute;
    top: 5px;
    right: 5px;

    box-sizing: border-box;
    width: 35px;
    height: 35px;
    padding: 10px;

    background: #ddd;
    border-radius: 5px;

    cursor: pointer;
}

div.code-div div.code-copy-tooltip {
    display: none;

    position: absolute;
    top: 45px;
    right: 5px;

    box-sizing: border-box;
    padding: 5px;

    background: #222;
    color: #f5f5f5;
    border-radius: 5px;
}

div.code-div div.code-copy-tooltip {
    font-size: 0.75em;
    font-weight: bold;
}
